<a href="https://colab.research.google.com/github/Nikhil90398/Web_Sracpping/blob/main/1_Tutorial_IMDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup

# lets create a excel file to load data

In [ ]:
import openpyxl

In [ ]:
try:
    source = requests.get('https://www.imdb.com/chart/top/')
    #find error in source if any
    source.raise_for_status()

    soup = BeautifulSoup(source.text,"html.parser")
except Exception as e:
    print (e)

* let's see what does raise_for_Status() do

In [ ]:
#source = requests.get('https://www.imdb.com/chart/top1314564/')
#find error in source if any
#source.raise_for_status()

In [ ]:
soup = BeautifulSoup(source.text,"html.parser")
print(soup.prettify())

In [ ]:
movies= soup.find('tbody', class_="lister-list")
print(movies)

In [ ]:
movies1= soup.find('tbody', class_="lister-list").find_all('tr')
#lets check that it contains 250 movies or not for that we used len() function
print(len(movies1))

250

# for movie name

In [ ]:
for movie in movies1:
  print(movie)
  break
  # lets check it for only one movie.

In [ ]:
for movie in movies1:
  name=movie.find('td',class_='titleColumn')
  print(name)

In [ ]:
for movie in movies1:
  name=movie.find('td',class_='titleColumn').a
  print(name)

In [ ]:
for movie in movies1:
  name=movie.find('td',class_='titleColumn').a.text
  print(name)

#for rank of movie

In [ ]:
for movie in movies1:
  rank=movie.find('td',class_='titleColumn').text
  print(rank)

In [ ]:
for movie in movies1:
  rank=movie.find('td',class_='titleColumn').get_text(strip=True)
  print(rank)

In [ ]:
for movie in movies1:
  rank=movie.find('td',class_='titleColumn').get_text(strip=True).split(".")
  print(rank)

In [ ]:
for movie in movies1:
  rank=movie.find('td',class_='titleColumn').get_text(strip=True).split(".")[0]
  print(rank)

# For year

In [ ]:
for movie in movies1:
  year=movie.find('td',class_='titleColumn').span.text
  print(year)

In [ ]:
for movie in movies1:
  year=movie.find('td',class_='titleColumn').span.text.strip("()")
  print(year)

#Imdb Rating

In [ ]:
ratingColumn imdbRating

In [ ]:
for movie in movies1:
  rating=movie.find('td',class_='ratingColumn imdbRating').strong.text
  print(rating)

now print all

In [ ]:
# scrapping top 250 movies data from imdb website
movies= soup.find('tbody', class_="lister-list").find_all('tr')

for movie in movies:
  name=movie.find('td',class_='titleColumn').a.text
  rank=movie.find('td',class_='titleColumn').get_text(strip=True).split(".")[0]
  year=movie.find('td',class_='titleColumn').span.text.strip("()")
  rating=movie.find('td',class_='ratingColumn imdbRating').strong.text
  print(rank,name,year,rating)

# lets create a excel file to load data

In [ ]:
import openpyxl

In [ ]:
excel= openpyxl.Workbook()
print(excel.sheetnames)

['Sheet']

In [ ]:
excel= openpyxl.Workbook()
sheet=excel.active
sheet.title = "top Rated Movies"
print(excel.sheetnames)

['top Rated Movies']

In [ ]:
excel= openpyxl.Workbook()
sheet=excel.active
sheet.title = "top Rated Movies"
sheet.append(['Movie Rank','Movie Name','Year of release','IMDB Rating'])
print(excel.sheetnames)

['top Rated Movies']

#final program

In [ ]:
import openpyxl

excel= openpyxl.Workbook()
sheet=excel.active
sheet.title = "top Rated Movies"
sheet.append(['Movie Rank','Movie Name','Year of release','IMDB Rating'])
print(excel.sheetnames)

try:
    source = requests.get('https://www.imdb.com/chart/top/')
    #find error in source if any
    source.raise_for_status()

    soup = BeautifulSoup(source.text,"html.parser")
    movies= soup.find('tbody', class_="lister-list").find_all('tr')

    for movie in movies:
          name=movie.find('td',class_='titleColumn').a.text
          rank=movie.find('td',class_='titleColumn').get_text(strip=True).split(".")[0]
          year=movie.find('td',class_='titleColumn').span.text.strip("()")
          rating=movie.find('td',class_='ratingColumn imdbRating').strong.text
          print(rank,name,year,rating)  
          sheet.append([rank,name,year,rating])

except Exception as e:
    print (e)  
excel.save("IMDB Movie Rating.xlsx")